*{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.col-1{
	width: 8.33%;
	float: left;
}
.col-2{
	width: 16.66%;
	float: left;
}
.col-3{
	width: 25%;
	float: left;
}
.col-4{
	width: 33.33%;
	float: left;
}
.col-5{
	width: 41.67%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-7{
	width: 58.33%;
	float: left;
}
.col-8{
	width: 66.67%;
	float: left;
}
.col-9{
	width: 75%;
	float: left;
}
.col-10{
	width: 83.33%;
	float: left;
}
.col-11{
	width: 91.67%;
	float: left;
}
.col-12{
	width: 100%;
	float: left;
}
.row{
	width: 100%;
}
section{
	float: left;
	padding: 80px 0;
	width: 100%;
}
.text-center{
	text-align: center;
}
.img-fluid{
	width: 100%
}
.blue{
	color: #008ed6;
	letter-spacing: 2px;
}
h2{
	font-size: 36px;
	font-weight: 600;
}
.highlight{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: 600;
}
ul li{
	list-style: none;
}

.text-white{
	color:#fff;
}


/*gobal css end*/

/*banner section css */ 
.banner{
	background: url(../image/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:600px;
	overflow: hidden;
}
.banner .logo{
    margin-top: 30px;
}
.banner .navbar{}
.banner .navbar .navmenu{
    float: right;
    /* padding: 0px; */
}
.banner .navbar .navmenu .navitem{
	position: relative;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 25px;
}
.banner .navbar .navmenu .navitem .navlink{
    color: #fff;
    text-decoration: none;
} 
.banner .navbar .navmenu .navitem::before{
	content: "";
	position: absolute;
	background: #008ed6;
	width: 0;
	height: 2px;
	right: 0;
	bottom: 0;
}
.banner .navbar .navmenu .navitem::after{
	content: "";
	position: absolute;
	background: #008ed6;
	width: 0;
	height: 2px;
	left: 0;
	bottom: 0;
}
.banner .navbar .navmenu .navitem:hover::after{
width: 50%;
transition: 0.5s linear;
}
.banner .navbar .navmenu .navitem:hover::before{
width: 50%;
transition: 0.5s linear;
}
.heroarea{
    margin-top: 30px;
}
.heroarea h6{}
.heroarea h1{
    color: #fff;
    font-size: 48px;
    margin-top: 30px;
}
.heroarea p{
    color: #ddd;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.heroarea .btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 30px;
    border-radius: 4px;
    margin-top: 30px;
    border: 1px solid #FFF;
}
.heroarea .btn-cta{
    margin-right: 30px;
    background: #008ed6;
}
.heroarea  .btn-ghost{}
.banner .heroarea .btn-cta:hover{
	background: #00689c;
	border: 1px solid #00689c;
	transition: 0.5s ease-in-out;
}
.banner .heroarea .btn-ghost:hover{
	background: #00689c;
	border:1px solid #00689c;
	transition: 0.5s linear;
}
.banner .mockup{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;

}

/*feature section css */
.feature{}
.feature h6{
   
}
.feature h2{
   margin: 15px 0;
}
.feature .blueline{}


.feature{}
.feature .feature-box {
	margin-top: 50px;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.feature .feature-box .box{
    /*border: 1px solid #999;*/
    padding: 30px 0;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.02);
    margin: 10px;
    border-radius: 5px;
}

.feature .feature-box .box .feature-img{
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    border-radius: 50%;
    line-height: 95px;
    margin: 0 auto;
}

.feature .feature-box .box h3{
    margin-top: 20px;
}
.feature .feature-box .box p{
	line-height: 1.6;
	margin-top:20px;
	color: #b4b4b4;
}

.feature .feature-box:hover{ 
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.2);   
	margin-top: 2px;

}

/*about section css*/ 
.about{
	border-top: 1px solid #ededed;
}
.about .mockup{
    margin-top: 60px;
}
.right-feature{
    margin-top: 25%;
}
.right-feature h6{}
.right-feature h2{}
.right-feature p{
    color: #999;
    line-height: 1.6;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.about-feature li{
    line-height: 1.8;
    color: #1B1B1B;
    font-size: 18px;
}
.about-feature li img{
    margin-right: 10px;
    display: inline-block;
    width: 10px;
    height: 14px;
}
.aboutpart{
	background: #f2f2f2;
}
.aboutpart .mockup{
	float: right;
    margin-top: 60px;
}
.aboutpart .right-feature{
    margin-top: 25%;
}
.aboutpart .right-feature h6{}
.aboutpart .right-feature h2{}
.aboutpart .right-feature p{
    color: #999;
    line-height: 1.6;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 40%;
}




.review{
	background: url(../image/banner2.png);
	background-size: cover;
	background-position: center;

}
.text-white{
	color: #fff;
}
.review h6{
	margin-top: 20px;
}
.mycarousel{}
.item{
	color: #fff;
}
.item h5{
	font-size: 20px;
	margin-left: 10px; 
}
.item h6{
	font-size: 16px;
	margin-left: 10px;
	font-weight: 300;
}
.item p{
	font-size: 20px;
	font-style: italic;
	margin-bottom: 20px;
}
.review .text-center{
	margin-bottom: 60px;
}
.owl-carousel .owl-dots.disabled{
    display: block;
}
.owl-dots{
	margin-top: 30px !important;
}
.owl-theme .owl-dots .owl-dot span{
	background: #fff;
	width: 10px;
	height: 20px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #00689c;
    width: 60px;
}

.theme{
	padding: 20px 0 !important;
	color: #fff;
	background: black;
}
.theme h3{
	font-weight: 200;
	padding-top: 5px;
	margin-top: 10px;
}
.theme span{
	letter-spacing: 2px;
	font-weight: 600;
}
.theme .btn{
    color: #ffff;
    float: right;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #999;
}
.theme .btn-cta{
 
}
.theme .btn-ghost{
    margin-left: 25px;
    border: 1px solid #00689c;
    background: #008ed6;
    }
.theme .btn-cta:hover{
	background: #00689c;
	border: 1px solid #00689c;
	transition: 0.5s ease-in-out;
}
.theme .btn-ghost:hover{
	background: #00689c;
	border:1px solid #00689c;
	transition: 0.5s linear;
}



.price{
	margin-top: 10px !important;
}
.price .col-3{
	margin-top: 60px;
	}
.price-box{
	border: 1px solid #f2f2f2;
	padding: 20px 0px;
	margin: 0 10px;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.price .price-box .box{
	padding: 10px 10px;
    border-top: 1px solid #f2f2f2;

}
.price .price-box .heading{
	padding-bottom: 20px;
}
.price .price-box .amount{
	font-size: 44px;
	font-weight: 600;
}
.price .price-box .dollar{
	font-size: 35px;
	font-weight: 300;
}
.price .price-box .cta{
	color: #008ed6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #008ed6;
}
.price .price-box p{
	color: #999;
    font-size: 18px;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.price .price-box .hoverlight{
	color: #008ed6;
	font-weight: 600;
}
.price .price-box .hoverblue{
	padding-top: 40px;
}
.price .price-box .hoverblue p{
	color: black;
}
.price .price-box:hover{
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    margin-top: 50px;
}
.price .price-box:hover .heading{
	color: #008ed6;
}
.price .price-box:hover .hoverblue{
	color: #fff;
	border: 1px solid #008ed6;
	background: #008ed6;
	transition: 0.2s ease-in-out;
}
.price .price-box:hover .hoverblue p{
	color: #fff;
	transition: 0.2s ease-in-out;
}
.price .price-box:hover .cta{
	color: #fff;
    border: 1px solid #008ed6;
    background: #008ed6;
    transition: 0.2s ease-in-out;
}
.contact{
	background: #ededed;
	height: 600px;
	overflow: visible;
	position: relative;
}
.contact .contact-box{
	margin-top: 60px;
}
.contact .contact-box .box{
	padding: 30px 0;
    margin: 0px 9px;
}
.contact .contact-box .box .contact-img{
	width: 80px;
    height: 80px;
	line-height: 95px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
}
.contact .contact-box .box p{
    line-height: 1.6;
    color: #a6a6a6;
    padding: 0 12%;
}
.contact .contact-box .box:hover{
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.2);
    transition: 0.2s all ease-in-out;
}
.contact .contact-box .box:hover .contact-img{
	background: #ffffff;
	transition: 0.2s all ease-in-out;
}

.contact .contact-box .box:hover p{
 	line-height: 1.8;
 	transition: 0.2s all ease-in-out;
 }
 .map{
 	padding: 0px !important;
 	margin-bottom: 0px !important;
 }
 form{
 	margin-top: 300px;
 	background: #000000e0;
 	padding: 20px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	/* border-radius: 0px; */
 }
 .form-control{
    width: 100%;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: transparent;
    box-sizing: border-box;
    color: #ffffff;
}
textarea {
	width: 100%;
	margin-left: 10px;
}
.submit-btn{
    color: #ffff;
    border: 1px solid #15a4fa;
    padding: 15px 50px;
    background: transparent;
    float: right;
    border-radius: 5px;

}
.submit-btn:hover{
	background: #15a4fa;
	transition: 0.5s ease-in-out;}


	.footer{
 	padding-top: 0px !important;
 	padding: 20px 0 !important;
	color: #fff;
	background: black;
 }
.footer-img{
	display: inline-block;
	border-radius: 50%;
}
 .footer .fa{
 	color: #fff;
 	width: 10px;
 	height: 10px;
 	padding: 10px;
 	margin: 0 10px;
 	margin-bottom: 12px;
 }
 .footer .fa:hover{
 	color: #008ed6;
 	transition: .5s ease-in-out;
 }
 .footer .highlight:hover{
 	color: #008ed6;
 }